<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sw2024bgr1_maal"
        tools:targetApi="31">
        <activity
            android:name="DEBERIIB.VerAtletasActivity"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.EditarEventoActivity"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.CrearEventoActivity"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.MainActivity"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.item_atleta"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.item_evento"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_atleta_form"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_atletas"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_evento_form"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_lista_eventos"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_editar_evento"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_registrar_evento"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.activity_main2"
            android:exported="false" />
        <activity
            android:name="DEBERIIB.ActividadGeneral"
            android:exported="false" />
        <activity android:name="DEBERIIB.RegistrarEventoActivity" />
        <activity
            android:name=".ECrudEntrenador"
            android:exported="false" />
        <activity
            android:name=".CIntentExplicitoParametros"
            android:exported="false" />
        <activity
            android:name=".BListView"
            android:exported="false" />
        <activity
            android:name=".ACicloVida"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>